{% extends 'index.html' %}

{% block title %}
remove_employee
{% endblock %}

{% block head %}
remove_employee

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Choose employee
    </button>
    <ul class="dropdown-menu">
        {% for emp in emps %}
    <li><a class="dropdown-item" href="/remove_employee/{{emp.id}}">{{emp.first_name}} {{emp.last_name}}</a></li>
        {% endfor %}
    </ul>
  </div>
{% endblock %}